<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <table class="table table-light table-on" id="lul">
        <thead>
        <tr>
            <th>Date</th>
            <th>Approved</th>
            <th>QVI Score</th>
            <th>Approve</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assessment : ${assessments}" th:href="@{'/dashboardAssessor/' + ${company.id} + '/' + ${assessment.id}}">
            <td th:text="${assessment.date}"/>
            <td th:text="${assessment.approved}"/>
            <td th:text="${assessment.qviScore}"/>
            <td th:if="${assessment.approved == 0}">
                <form th:action="@{'/assessment/approve/' + ${company.id}}" method="post">
                    <input type="hidden" th:value="${assessment.id}" name="assessmentId" />
                    <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i>Approve</button>
                </form></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>