<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid main-container">
    <div class="mod-pick-text">
        <h1>Please Select A Module</h1>
    </div>


<div class="container-fluid module-container-fluid">

<p th:unless="${modules} and ${modules.size()}">No questionnaires</p>

        <div class="row modules-spacer">
            <div class="offset-1"></div>
            <div class="col-md-2" th:each="module : ${modules}">
                    <div class="module-circle" th:id="@{'circle' + ${module.id}}" th:attr="data-id=${module.id}">
                        <a th:href="@{'/dashboard/questionnaire?q=' + ${module.id} + '&amp;f=' + ${module.fkModule}}" class="circle-link">
                            <h3 th:text="${module.name}"></h3>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    $(document).ready(function () {
        $(".module-circle").each(function () {
            var acc = [[${loginType}]];
            var module = $(this).data("id");

            //Manager
            if (acc == 3){
                if (module == 1){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
                if (module == 2){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
            }

            //Employee 2
            else if (acc == 2){
                if (module == 3){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
                if (module == 4){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
                if (module == 5){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
                if (module == 1){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
            }

            //Client 1
            else if (acc == 1){
                if (module == 3){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
                if (module == 4){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
                if (module == 5){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
                if (module == 2){
                    $(this).find("a").removeAttr("href");
                    $(this).addClass("grayout");
                }
            }
        })
    })

</script>
</body>
</html>

