<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container login-container">
    <div class="row">
        <div class="offset-4"></div>
        <form method="post" class="evolve-form col-md-4">
            <span class="help-block invalid-feedback" th:if="${error != null}" th:text="${error}"
                  style="display: block;"></span>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Enter email"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Enter password"/>
            </div>
            <button type="submit" class="btn btn-primary form-control" value="login">Login</button>
        </form>
    </div>
</div>

</body>
</html>