<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">

    <div class="col-md-12 text-center" id="settings-title">
        <h1>Settings</h1>
    </div>

    <div class="row">
        <div class="offset-3"></div>
        <form th:object="${passwordForm}" th:action="@{/account/updatePassword}" action="#" class="evolve-form col-md-6" id="add-customer" method="post">
            <div class="form-group">
                <label for="current">Current password</label>
                <span class="help-block invalid-feedback" th:if="${error != null}" th:text="${error}"
                      style="display: block;"></span>
                <span class="help-block valid-feedback" th:if="${success != null}" th:text="${success}"
                      style="display: block;"></span>
                <input class="form-control" type="text" name="current" id="current"
                       placeholder="New password"/>
            </div>
            <div class="form-group">
                <label for="latest">New password</label>
                <span class="help-block invalid-feedback" th:if="${password != null}" th:text="${password}"
                      style="display: block;"></span>
                <input class="form-control" type="text" name="latest" id="latest" placeholder="Current password"/>
            </div>
            <button type="submit" class="btn btn-primary form-control" value="update">Update Password</button>

        </form>
    </div>

</div>

</body>
</html>
